<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <title>USU Articles</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/javascript/app.js"></script>

</head>
<body>
    <div class="jumbotron text-center">
        <h1 class="display-4">Utah State University Extension</h1>
        <p class="lead">Fruit IPM Advisory: Scraped Articles</p>
        <hr class="my-4">
        <p class="font-italic">Click to scrape for new articles!</p>
        <a id="scrape" class="btn btn-info" href="#" role="button">Scrape Articles</a>
    </div>
    {{{ body }}}

</body>

</html>