body {
  /* background-color: #cea166; */
  background-image: url(../images/woodYellow.jpg);
}

.jumbotron {
  background-color: #f3d0a0;
  /* background-color: #cea166; */
  ;
  background-image: url(../images/bgdSwirls.png);
  margin-bottom: 0;
}

h1.display-4, p.lead {
  font-weight: bolder;
}

img {
  border-width: 5px;
  border-color: #ca9145;
  border-style: solid;
  margin: 8px 0px;
}

.card-body, .card-header {
  /* background-color: #f3d0a0; */
  background-image: url(../images/grunge-wall.png);
}

.card-header {
  background-color: #f5dcb4;
}

.card-body {
  background-color: #f7d8a7;
  /* background-color: #f3d0a0; */
}